body {
  background: linear-gradient(to right, #9b00ff, #0066ff);
  font-family: Comic Sans MS, cursive, sans-serif;
  color: #fff;
  padding: 40px;
}

h1, h2 {
  color: yellow;
  text-shadow: 2px 2px #000;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

h2 {
  font-size: 35px;
  margin-top: 40px;
}

strong {
  color: #ffeb3b;
  font-size: 18px;
}

.fun-section {
  margin-top: 20px;
}

ul {
  list-style: "⭐ ";
  padding-left: 20px;
}

a {
  color: #ffeb3b;
  font-weight: bold;
  text-decoration: underline dotted;
}

a:hover {
  color: #00ffff;
  font-size: 18px;
  transition: 0.2s;
}

emoji {
  font-size: 25px;
}

.section-box {
  background: rgba(255, 255, 255, 0.1);
  border: 2px dashed #fff;
  border-radius: 15px;
  padding: 20px;
  
    
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.section{
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 2px dashed #fff;
  background-color: #fff;
  
}
.section input {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;

}
.section textarea {
  width: 30%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  color: #000;
}
